html,
body {
  font-family: "pixel";
  /* padding: 50px; */
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  cursor: url("../Assets/mainpage/smallmouse.png"), auto;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인 콘텐츠 및 이미지 */

.main-container > .title-box {
  font-size: 100px;
  font-weight: 800;
  display: inline;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  line-height: 0.5;
  transform: translateY(300px);
}

.start-button {
  display: none;
}

.show {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50vw);
  transform: translateY(500px);
}

/* 인트로 텍스트 */
.title-box > .intro-title {
  z-index: 100;
  line-height: 1.5;
  color: white;
}

.intro-title:after {
  content: "|";
  display: inline-block;
  font-size: 120px;
  animation: moveCursor 600ms infinite;
}

.delete {
  display: none;
}

/* 게임스타트 텍스트 */

.move-title {
  font-size: 50px;
  color: white;
  opacity: 0;
}

.link-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 10px;
  margin-top: 400px;
}

.link-box > .start-button {
  animation: spin 2s linear infinite;
  color: white;
}

.link {
  opacity: 1;
  transition: all 1s;
}

.move-title:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
}

.welcomeText {
  z-index: 100;
  position: absolute;
  top: 103%;
  width: 700px;
  font-size: 3.5rem;
  text-align: center;
}

.game-bg {
  position: absolute;
  top: 100%;
  width: 1600px;
  height: 1210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/mainpage/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.game_row {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  margin: 0px 200px 130px 200px;
  height: 110px;
}

.game_row:nth-child(1) {
  background-color: black;
  color: white;
  position: relative;
  flex-direction: row;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin-top: 10px;
  border-radius: 20px;
}

.game_row:nth-child(1) > .more {
  position: absolute;
  right: 50px;
  background-image: url("../Assets/mainpage/more2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
}

.game_row:nth-child(2) {
  justify-content: center;
}

.game_row:nth-child(3) {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.game1 {
  font-size: 1.2rem;
  width: 300px;
  height: 150px;
  background-image: url("../Assets/mainpage/dinosaur.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
}

.game2 {
  font-size: 1.2rem;
  width: 300px;
  height: 170px;
  background-image: url("../Assets/mainpage/chat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
}

.game3 {
  font-size: 1.2rem;
  width: 300px;
  height: 170px;
  background-image: url("../Assets/mainpage/wall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
}
.mypage {
  position: relative;
  height: 270px;
  width: 180px;
  background-image: url("../Assets/mainpage/users.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
  font-size: 3rem;
}

.mypage > p {
  position: absolute;
  top: 70%;
  text-align: center;
}

/* 게임 이미지 클릭시 효과 */

.h3:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
  transform: scale(1.1);
}

.game1:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
  transform: scale(1.1);
}

.game2:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
  transform: scale(1.1);
}

.game3:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
  transform: scale(1.1);
}

.mypageIcon:hover {
  cursor: url("../Assets/mainpage/smallmouse.png"), pointer;
  transform: scale(1.1);
}

/* 오디오 */

.bgm {
  position: absolute;
  right: 1%;
  top: 1%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "pixel";
  src: url("../Assets/fonts/NeoDunggeunmoPro-Regular.ttf") format("truetype");
}

@keyframes moveCursor {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1250px) {
  .main-container > .title-box {
    height: 900px;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game-bg {
    position: absolute;
    top: 100%;
    height: 1010px;
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assets/mypage/background.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 200px;
    padding-top: 200px;
  }

  .title-box > .intro-title {
    z-index: 100;
    line-height: 1.5;
    color: white;
    margin-bottom: 400px;
  }

  .link-box {
    margin-bottom: 400px;
  }
  .game_row {
    margin: 0px;
    padding: 0px;
  }

  .game_row:nth-child(3) {
    min-height: 700px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .game1 {
    margin-top: 50px;
  }

  .mypage {
    font-size: 2rem;
    padding-top: 50px;
  }
  .game_row:nth-child(1) > .more {
    position: absolute;
    right: 180px;
  }
}
