@import url("https://fonts.cdnfonts.com/css/public-pixel");
* {
  font-family: "Public Pixel", sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/blockgame/background.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 45px;
}
canvas {
  background: rgba(238, 238, 238, 0.618);
  display: block;
  margin: 0 auto;
  height: 430px;
  position: relative;
}
.title {
  text-align: center;
}

.gameMain {
  width: 800px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("../images/blockgame/pinpng.com-message-box-png-4212063.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.buttons > button {
  font-family: "Public Pixel", sans-serif;
  border-radius: 10px;
  padding: 15px;
}
button > img {
  height: 23px;
  width: 30px;
}
.startButton {
  width: 400px;
  margin-right: 30px;
}
.buttons {
  position: absolute;
  top: 740px;
}
.gamezone {
  height: 480px;
  width: 480px;
  border-radius: 10px;
  background-color: rgb(3, 155, 3);
}

.scores {
  color: rgba(238, 238, 238, 0.689);
  height: 300px;
  width: 750px;
  margin: 125px auto;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 600px;
  height: 200px;
  margin: 10px auto auto auto;
}

th {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.689);
}
