@import url("https://fonts.cdnfonts.com/css/public-pixel");
* {
  font-family: "Public Pixel", sans-serif;
}

body {
  background-image: url("../images/dinosaur/background.png");
  background-size: cover;
  background-position: center;
  margin: 40px;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../images/dinosaur/game-back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#player {
  position: absolute;
  width: 70px;
  height: 50px;
  background-image: url("../images/dinosaur/dinosaur.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 10px;
}

#player img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#game-over-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-over-container.show {
  visibility: visible; /* 나타날 때는 보이도록 설정 */
  opacity: 1;
}

#game-over-message {
  margin-bottom: 20px;
}

#reset-button {
  padding: 10px 20px;
  font-size: 18px;
}

#obstacle-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.obstacle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/dinosaur/obstacle.png");
  background-size: cover;
}

button {
  border-radius: 8px;
}

#score-container {
  margin: 20px auto;
  text-align: center;
  position: relative;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
  color: white;
}

#score-container span {
  font-size: 20px;
  margin-right: 22%;
  color: white;
}

#score-table {
  list-style: none;
  padding: 0;
  color: white;
}

table {
  width: 600px;
  height: 250px;
  margin: 3% auto auto 9%;
}

#spacebar {
  text-align: center;
  position: relative;
}
