<!DOCTYPE html>
<html>
  <head>
    <title>공룡 점프!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/dinosaur.css" />
  </head>
  <body>
    <div id="game-container">
      <div id="player"></div>
      <div id="obstacle-container"></div>
      <div id="game-over-container">
        <h2 id="game-over-message"></h2>
        <button id="reset-button">reset-game</button>
      </div>
    </div>
    <div id ="spacebar">
      <h2>PRESS YOUR SPACE BAR</h2>
    </div>
    <div id="score-container">
      <span>Date</span>
      <span>Score</span>
      <table id="score-table">
        <thead>
          <tr>
            <th>Score</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    </div>

    <script src="../static/js/dinosaur.js"></script>
  </body>
</html>
