<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/mypage.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script defer src="../static/js/mypage.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="mypage">
      <div class="main">
        <img src="../static/images/mypage/pixel-speech-bubble.gif" />
        <div class="myprofile">
          <div class="textBox">
            <div class="profiles">
              <img
                class="userIcon"
                src="../static/images/mypage/users (1).png" />
              <div class="names">
                <p>NAME : <span id="userName">hanghae</span></p>
                <p>ID : <span id="userId">hanghae</span></p>
              </div>
            </div>

            <hr />
            <div class="scores">
              <p class="scoresTitle">[Best Scores]</p>
              <p id="blockScore">1. BLOCK GAME :</p>
              <p>2. DINOSAUR GAME : <span id="dinosaurScore"></span></p>
              <p>3. TYPING GAME : <span id="typingScore"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
