<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내가 하려고 만든 게임.</title>
    <link href="../static/css/mainpage.css" rel="stylesheet" />
    <script defer src="../static/js/mainpage.js"></script>
    <script
      src="https://kit.fontawesome.com/095ffe8916.js"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="main-container">
      <div class="title-box">
        <h3
          class="intro-title"
          aria-label="내가& nbsp;하려고 만든< 개 임. console.log(game)"
          ;></h3>
      </div>

      <div class="link-box">
        <div class="start-button">
          <div class="spinner"><i class="fa fa-light fa-ghost fa-10x"></i></div>
        </div>
        <div class="move-title"><a href="#">"console.log(game)"</a></div>
      </div>

      <div class="game-bg">
        <div class="game_row">
          <p>Welcome <span id="userName">hanghae</span>, Select the game!</p>
          <a
            class="more"
            onclick=""
            href="https://github.com/Mini-game-Project/JS-games">
          </a>
        </div>
        <div class="game_row">
          <a class="game1" href="/dinosaur">
            <p class="game_title">[Dinosaur]</p>
          </a>
        </div>
        <div class="game_row">
          <a class="game2" href="/typing">
            <p class="game_title">[Typing]</p>
          </a>
          <a class="mypageIcon" href="/mypage">
            <div class="mypage">
              <p>Lv99. hanghae</p>
            </div>
          </a>
          <a class="game3" href="/blockgame">
            <p class="game_title">[Block]</p>
          </a>
        </div>
      </div>
    </div>
    <div class="bgm">
      <audio defer src="../static/bgm/bgm1.wav" controls autoplay></audio>
    </div>
  </body>
</html>
